<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script type="text/javascript" th:src="@{/static/jslib/My97DatePicker/WdatePicker.js}" charset="utf-8"></script>
    <script th:src="@{/static/jslib/easyui1.4.2/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
    <link  rel="stylesheet" th:href="@{/static/jslib/easyui1.4.2/themes/default/easyui.css}"  type="text/css">
    <script type="text/javascript" th:src="@{/static/jslib/easyui1.4.2/jquery.easyui.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/jslib/easyui1.4.2/locale/easyui-lang-zh_CN.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/jslib/extEasyUI.js}" charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{/static/style/css/lightmvc.css}" type="text/css">

    <link th:href="@{/static/style/css/base.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/style/css/login.css}" rel="stylesheet" type="text/css">

</head>
<body onkeydown="enterlogin();">
    <div class="login">
        <form  method="post" id="loginform">
            <div class="logo"></div>
            <div class="login_form">
                <div class="user">
                    <input class="text_value" type="text" name="loginname" data-options="required:true" value="admin" ></input>
                    <input class="text_value" type="password" name="password" value="" ></input>
                </div>
                <button class="button"  type="button" onclick="submitForm()">登录</button>
            </div>

            <div id="tip"></div>

        </form>
    </div>

    <!--[if lte IE 7]>
    <div id="ie6-warning"><p>您正在使用 低版本浏览器，在本页面可能会导致部分功能无法使用。建议您升级到 <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 8</a> 或以下浏览器：
        <a href="http://www.mozillaonline.com/" target="_blank">Firefox</a> / <a href="http://www.google.com/chrome/?hl=zh-CN" target="_blank">Chrome</a> / <a href="http://www.apple.com.cn/safari/" target="_blank">Safari</a> / <a href="http://www.operachina.com/" target="_blank">Opera</a></p></div>
    <![endif]-->

    <style>
        /*ie6提示*/
        #ie6-warning{width:100%;position:absolute;top:0;left:0;background:#fae692;padding:5px 0;font-size:12px}
        #ie6-warning p{width:960px;margin:0 auto;}
    </style>
    </body>

</body>
</html>